body {
	font-family: Tahoma;
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(https://wallpapercave.com/wp/wp3837895.jpg);
	color: white;	
}
a {
	text-decoration: none;
	color: darkblue;
}
a:hover {
	text-decoration: underline;
	color: white;
}

h1{
	font-size: 50px;	
}
img {
	width: 175px;
	height: 250px;
	border: 4px solid #FFFFFF;
}

#whatsapp {
    border: 0
}

#header a{
	color: #fff;
	text-decoration: none;
	color: white;
}
#main table {
	margin: 0 auto;
}

#footer {
	font: 12px Tahoma;
	margin: 25px 0 50px 0;
}
#footer a {
	margin-right: 10px;
	color: white;
	font-size: 20px;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
